# Local environment files
.env
.env.local

# Compiled class files
*.class
target/

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific files
.idea/
*.iml
*.iws
.vscode/

# OS specific
.DS_Store
Thumbs.db

